/*  Put your CSS Here */

header {
  border: 2px solid grey;
  border-radius: 4px;
  width: 200px;
  margin-right: 25px;
  padding: 15px;
}

section > img {
  width: 150px;
  margin: 10px;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 400px;
}

.container {
  display: flex;
}

@media only screen and (max-width: 550px) {
  .container {
    flex-direction: column;
  }
  section {
    height: 400px;
    justify-content: space-evenly;
  }

  section > img {
    margin: 15px;
  }

  header {
    width: 400px;
  }
}
